terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform/
ansible/credentials.yml
ansible/auth_gcp.json
vault_pass.txt