<flow-definition>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  
  <!-- Define parameters here -->
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <!-- ACTION parameter -->
        <hudson.model.ChoiceParameterDefinition>
          <name>ACTION</name>
          <description>Select action to perform</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>deploy</string>
              <string>destroy</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        
        <!-- CLOUD_PROVIDER parameter -->
        <hudson.model.ChoiceParameterDefinition>
          <name>CLOUD_PROVIDER</name>
          <description>Select cloud provider(s)</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>gcp</string>
              <string>aws</string>
              <string>azure</string>
              <string>all</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps">
    <scm class="hudson.plugins.git.GitSCM" plugin="git">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>{{ github_repo_url }}</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>Jenkinsfile</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
